body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    zoom: 100%;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background:#4b4b4b;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #282828;
  }
  
  .pic1, .pic2, .pic3, .pic4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .pic1 {
    background-image: url("pic5.jpg");
    min-height: 100%;
  }
  
  .pic2 {
    background-image: url("Nanga-parbat.jpg");
    min-height: 400px;
  }
  
  .pic3 {
    background-image: url("K2.jpg");
    min-height: 400px;
  }
  .pic4 {
    background-image: url("pic3.jpg");
    min-height: 400px;
  }
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    opacity: 70%;
}
  
  .caption span.border {
    background-color: #000;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 1px;
    border-radius: 20px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
    font-size: 25px;
  }
  p {
      font-family: sans-serif;
  }
  
  @media only screen and (max-device-width: 1024px) {
    .pic1, .pic2, .pic3 ,.pic4{
      background-attachment: scroll;
    }
  }

#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 50px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#logo {
  background-image: url(icons/home.png);
  background-size: cover;
  position: relative;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: rgb(207, 255, 171);
  color: rgb(39, 39, 39);
}

#navbar-right {
  float: right;
}


@media screen and (max-width: 580px) {
  #navbar {
    position: relative;
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}